.viewheight50{
    height: 50vh;
}

/* navsearch start */
.imgHeight{
    height: 40px;
    width: 40px;
}
/* navsearch end */

/* footer start*/
.logoHeight{
    height: 25px;
    width: 25px;
}
/* footer end */
/* card start */
.card img{
    height: 250px; 
}
/* card end */